* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    background-color: black;
    color: #fff;
}

.hero {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

.hero h1 {
    align-self: center;
}

.hero button {
    width: 100px;
    align-self: center;
}

.list {
    display: flex;
    justify-content: space-evenly;
}

/* .photos {

} */

.contact {

}